body{
    background: steelblue;
}

.bannerButton{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3vw;
    width: 20%;
    display: inline-block; 
    text-align: center;
}

.bannerButton:hover{
    color: steelblue;
}

header{
    top: 0;
    position: sticky;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkslateblue;
    align-items: center;
    margin-bottom: 10px;
}

.siteBody{
    background: steelblue;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#homeImages{
    display: block;
    border: 3px solid darkslateblue;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#homeImages:hover{
    cursor: pointer;
}

.copyrightFooter{
    bottom: 0px;
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
}

footer{
    bottom: 0;
    position: fixed;
    width: 98%;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid darkslateblue;

}

.logo{
    float: left;
    margin-left: 10px;
}

#contactForm{
    width: 30%;
    margin: auto;
    display: block;
}

.infoArea{
    margin-top: 10px;
}


#submitButton{
    background: none;
    border: none;
    width: 190%;
}


#submitButton:hover{
    color: aliceblue;
}

.products{
    font-size: 2vw;
    display: flex;
    align-items: center;
}

.productThumbnail{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; 
}

.sectionName{
    margin: 5px;
    padding-top: 0;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.serviceInformation{
    font-size: 2vw;
}