.hello{
  margin-top: 80px;
  font-size: 100pt;
  text-align: center;
  color: white;
}

.scrn{
  font-size: 50pt;
  text-align: center;
  color: white;
}

.warning{
  margin-top: 20px;
  font-size: 15pt;
  text-align: center;
  color: white;
}

/*footer{
  margin-top: -50px;
  position: fixed;
  bottom: 0px;
  background-color: white;
  text-align: center;
}*/

.icons{
  margin: 10px;
}

body{
 font-family: Arial;
 background-image: url(../images/Nokdu.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-color: #C0C0C0;
}

nav{
  text-align: center;
  background-color: white;
}
